- const expertContent = LANG.expert;
- const mainContent = LANG.main;

section.expert#expertEvidence
    .expert__img-block
        img&attributes(expertContent.expert_foto).expert__img
    .container
        p.expert__subtitle= expertContent.title1
        h2.expert__title= expertContent.title2
        p.expert__text
            img&attributes(expertContent.q_img).expert__img-q
            span= expertContent.text1
            span.expert__text-highlighted= expertContent.text2
            span= expertContent.text3
            span.expert__text-highlighted= expertContent.text4
            span= expertContent.text5
            span.expert__text-highlighted= expertContent.text6
            span= expertContent.text7
            span.expert__text-highlighted= expertContent.text8
            span= expertContent.text9
            span.expert__text-highlighted= expertContent.text10
            span= expertContent.text11
            span.expert__text-highlighted= expertContent.text12
            span= expertContent.text13
            span.expert__text-highlighted= expertContent.text14
            span= expertContent.text15
            span.expert__text-highlighted= expertContent.text16
            span= expertContent.text17
            span.expert__text-highlighted= expertContent.text18
            span= expertContent.text19
        p.expert__text
            span= expertContent.text20
            span.expert__text-highlighted= expertContent.text21
            span= expertContent.text22
            span.expert__text-highlighted= expertContent.text23
            span= expertContent.text24
            span.expert__text-highlighted= expertContent.text25
            span= expertContent.text26
            span.expert__text-highlighted= expertContent.text27
            span= expertContent.text28
            span.expert__text-highlighted= expertContent.text29
            span= expertContent.text30
            span.expert__text-highlighted= expertContent.text31
            span= expertContent.text32
            span.expert__text-highlighted= expertContent.text33
            span= expertContent.text34
            span.expert__text-highlighted= expertContent.text35
            span= expertContent.text36
            span.expert__text-highlighted= expertContent.text37
section.call
    .call__content
        img&attributes(mainContent.img_V).call__image-V
        img&attributes(mainContent.img_I).call__image-I
        img&attributes(mainContent.img_S).call__image-S
        img&attributes(mainContent.img_O).call__image-O
        img&attributes(mainContent.img_N).call__image-N
        p.call__text
            span= expertContent.call_text1
            span.call__text-highlighted= expertContent.call_text2
            span= expertContent.call_text3
            span.call__text-highlighted= expertContent.call_text4
            span= expertContent.call_text5
            span.call__text-highlighted= expertContent.call_text6
            span= expertContent.call_text7