- const main = LANG.main;
- const contactsContent = LANG.contacts;

main
    section.main
        .main__images-block
            img&attributes(main.img_V).main__image-V
            img&attributes(main.img_I).main__image-I
            img&attributes(main.img_S).main__image-S
            img&attributes(main.img_O).main__image-O
            img&attributes(main.img_N).main__image-N
            img&attributes(main.img).main__image
        .main__content-block
            h1.main__title= main.title
            p.main__text= main.text
            .main__button-wrapper#js_btn-sticky
                a(href=main.button_path).main__button.button= main.button
            .main__line
                .main__line-wrapper
                    span.main__line-text= main.line
                    span.main__line-text= main.line
                    span.main__line-text= main.line
    block product
        include product.pug
    - let isId = false;
    - let isLeaveText = false;
    - let isPromoText = false;
    block contacts
        include contacts.pug
    block issue
        include issue.pug
    block expert
        include expert.pug
    - isLeaveText = true;
    - isPromoText = true;
    block contacts
        include contacts.pug
    block comparing
        include comparing.pug
    block testimonials
        include testimonials.pug
    block usage
        include usage.pug
    block shipment
        include shipment.pug
    - isId = true;
    - isLeaveText = false;
    block contacts
        include contacts.pug
