- const testimonialsContent = LANG.testimonials;

section.testimonials#testimonials
    #js_testimonialsSlider
        each val in testimonialsContent.slider
            div(class="testimonials__slide-" + val.additional_class + " " + "testimonials__slide")
                .testimonials__slide-content
                    .testimonials__slide-img-block
                        img&attributes(val.img).testimonials__slide-img
                    .container
                        p.testimonials__slide-title= val.title
                        p.testimonials__slide-text
                            img&attributes(LANG.q_img).testimonials__img-q
                            span= val.text
                    .testimonials__slider-dots
    .testimonials__survey
        .container
            p.testimonials__survey-title= testimonialsContent.survey_title
            each val in testimonialsContent.appraisals
                .testimonials__survey-appraisal-block.js_anim-appraisal
                    p.testimonials__survey-appraisal= val.appraisal
                    p.testimonials__survey-appraisal-rate
                        span(class=val.additional_class + " _output-numbers" data-to-number=val.count_to)= val.count_to
                        span= val.rate
                    .testimonials__survey-appraisal-rate-line